.root {
    -fx-background-color: #c0c0c0;
}

.tool-bar {
    -fx-background-color: #c0c0c0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.1, 2, 2);
}

#status-bar {
    -fx-background-color: #c0c0c0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.1, 2, 2);
}

.accordion {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.1, 2, 2);
}
.accordion > .titled-pane > .title {
    -fx-background-color: #c0c0c0;
    -fx-border-width: 1;
    -fx-border-color: #a0a0a0;
}
.accordion > .titled-pane > *.content {
    -fx-background-color: #c0c0c0;
    -fx-border-width: 0;
}

.tab-pane>*.tab-header-area>*.tab-header-background {
    -fx-background-color: #c0c0c0;
}
.tab {
    -fx-background-color: #b0b0b0;
}
.tab:selected {
    -fx-background-color: #c0c0c0;
}
.tab .tab-close-button:hover {
    -fx-background-color: #ff2020;
}
.tab:selected .tab-label {
    -fx-font-weight: bold;
}
.tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: #c0c0c0;
}
#regsTable .table-column {
    -fx-border-width: 0px;
    -fx-border-color: #c0c0c0;
}
#bagTable .table-column {
    -fx-border-width: 0px;
}
#bagTable .table-row-cell {
    -fx-background-color: #d5ffd5;
}
#bagTable .cell {
    -fx-text-fill: black;
}
.calc-result-table {
    -fx-background-color: #c0c0c0;
}
.calc-result-table .table-column {
    -fx-background-color: #c0c0c0;
    -fx-padding: 0;
}
.calc-result-table .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
.price-result-column {
    -fx-pref-width: 60px;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}
.price-result-column.cell {
    -fx-border-color: #c0c0c0;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    -fx-alignment: center;
}
.calc-result-table .table-column.properties-result-column {
    -fx-border-color: #30c070;
    -fx-border-width: 0;
    -fx-alignment: center;
    -fx-padding: 0;
}
.potion-properties-tableview {
    -fx-focus-traversable: false;
    -fx-padding: 0;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #909090;
}
.potion-properties-tableview .scroll-bar * {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.potion-properties-tableview .table-column {
    -fx-border-width: 0;
}
.potion-properties-tableview .cell {
    -fx-padding: 0;
    -fx-background-color: #30df10;
}
.potion-properties-tableview .cell.price {
    -fx-font-size: 0.8em;
    -fx-pref-width: 3em;
    -fx-alignment: center;
}
.potion-properties-tableview .cell.name {
    -fx-font-size: 1em;
    -fx-alignment: center-left;
}
.potion-properties-tableview .cell.potion {
    -fx-background-color: #b0dfb0;
}
.potion-properties-tableview .cell.poison {
    -fx-background-color: #dfb0b0;
}
.potion-properties-tableview .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
.potion-reagents-tableview {
    -fx-focus-traversable: false;
    -fx-padding: 0;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #909090;
}
.potion-reagents-tableview .scroll-bar * {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}
.potion-reagents-tableview .table-column {
    -fx-border-width: 0;
    -fx-padding: 0;
}
.potion-reagents-tableview .cell {
    -fx-border-width: 0;
    -fx-padding: 0;
}
.calc-result-table .table-column.reagents-result-column {
    -fx-border-width: 0;
    -fx-padding: 0;
}
